
button {
    padding: 10px;
    cursor: pointer;
}
.conten{
    display: flex;
    height: auto;
    margin-inline-end : 10px;
}
p{
    margin-top: 80px;
    text-align: justify; 
    line-height: 1.5; 
    margin: 0; 
    padding: 0; 
}
.text{
    margin-bottom: 10px;
    width: 100%; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 20px; 
    padding-right: 20px; 
    box-sizing: border-box;
}
@media (max-width: 750px) {
    .conten {
        flex-direction: column;
        
        max-width: 300px;
        height: auto;  
        margin: 0; 
        padding: 10px; 
        overflow: visible; 
    }

    .text {
        margin-bottom: 10px;
        width: 100%; 
        max-width: 420px; 
        margin-left: auto; 
        margin-right: auto; 
        padding-left: 20px; 
        padding-right: 20px; 
        box-sizing: border-box; 
    }
    p{
        align-items: center;
        margin-left: 50px;
    }

    .slider {
        display: flex;
        justify-self: center;
        align-items: center;
        width: 100%;
    }
}


